    $active-switch-text-color:lighten($brand-primary, 15);
    @mixin light-theme-slider-thumb() {
      background: lighten(map-get($colors, light-theme-bg), 30);
      border: .2rem solid lighten($gray-light, 35);
      color: $active-switch-text-color;
      -webkit-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3);
      position: relative;
      -webkit-appearance: none;
      &::after {
        content: '=';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-align: center;
        color: $gray-light;
        background-color: red;
      }
      &:active,
      &:hover {
        border: .1rem solid transparentize(map-get($colors, primary), .6);
        -webkit-box-shadow: 1px 4px 5px 0 transparentize(map-get($colors, primary), .8);
        box-shadow: 1px 4px 5px 0 transparentize(map-get($colors, primary), .8);
      }
    }
    
    dimmer-switch-widget {
      display: flex;
      text-align: center;
      flex-direction: column;
      max-width: 25rem;
      margin: auto;
      #switch {
        display: flex;
        text-align: center;
        flex-direction: row;
        position: relative;
        padding: 2rem;
        #slider {
          margin-right: auto;
          margin-left: 2rem;
          position: relative;
          display: flex;
          width: 1.6rem;
          .range-indicator {
            background: transparentize($active-switch-text-color, .5);
            height: 50%;
            width: 1.35rem;
            margin: 0rem;
            bottom: .2rem;
            left: -.65rem;
            box-sizing: border-box;
            position: absolute;
            border-radius: .3rem;
            -webkit-box-shadow: inset 1px -2px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: inset 1px -2px 2px 0 rgba(0, 0, 0, 0.3);
          }
          input.range {
            background: transparent;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-appearance: none;
            width: 30rem;
            height: 1.6rem;
            bottom: 48%;
            left: -15rem;
            display: inline-block;
            position: absolute;
            border-radius: .3rem;
            &::-webkit-slider-runnable-track {
              height: 100%;
              width: 30rem;
              -webkit-box-shadow: inset 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
              box-shadow: inset 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
              border-radius: .3rem;
              position: relative;
            }
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              background: $action-active-bg-primary;
              border: .2rem solid lighten($action-active-bg-primary, 5);
              width: 2.4rem;
              height: 2rem;
              left: 0rem;
              top: -.2rem;
              position: relative;
              cursor: pointer;
              border-radius: .2rem;
              color: $active-switch-text-color;
              text-align: center;
              line-height: 3rem;
              -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
              box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
            }
            &::-moz-range-thumb {
              background: $action-active-bg-primary;
              border: .2rem solid lighten($action-active-bg-primary, 5);
              width: 2.4rem;
              height: 3rem;
              left: 0rem;
              top: -.2rem;
              cursor: pointer;
              border-radius: .2rem;
              //  position: absolute;
              color: $active-switch-text-color;
              text-align: center;
              line-height: 3rem;
              -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
              box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
              &:active {
                -webkit-box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
              }
            }
            &.disabled {
              border-color: transparentize($gray-light, .8);
              .knob {
                background: darken($gray-light, 25);
                border-color: darken($gray-light, 20);
                color: $gray-light;
              }
              &::after {
                background: transparentize($gray-light, .9);
              }
            }
          }
        }
        #wrapper {
          width: 15rem;
          height: 30rem;
          background: $action-active-bg-primary;
          font-size: 1.6rem;
          margin: auto;
          margin-right: 1.5rem;
          display: flex;
          flex-direction: column;
          -webkit-box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.3);
          &:active {
            background: $action-active-bg-primary;
          }
          &.off {
            -webkit-box-shadow: 1px -4px 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 1px -4px 5px 0 rgba(0, 0, 0, 0.3);
          }
          .switch-face {
            width: 15rem;
            color: $gray-light;
            flex-grow: 1;
            text-align: center;
            line-height: 15rem;
            cursor: pointer;
            background: transparent;
            position: relative;
            .on-indicator{
                width: 3rem;
                height: .7rem;
                top:60%;
                left:50%;
                margin: auto;
                margin-left: -1.5rem;
                background: $gray-light;
                position: absolute;
              }
            &.active {
              .on-indicator{
                background: $active-switch-text-color;
              }
              color: $active-switch-text-color;
              background: rgba(0, 0, 0, 0.08);
            }
          }
        }
      }
    }
    
    .ts-dark-theme {
      dimmer-switch-widget {
        #switch {
          #slider {
            .range {
              &::-webkit-slider-runnable-track {
                background: transparentize(darken($action-active-bg-primary, 15), .4);
                border: .1rem solid $action-active-bg-primary;
              }
              &::-webkit-slider-thumb {
                background: $action-active-bg-primary;
                border: .2rem solid lighten($action-active-bg-primary, 5);
                color: $active-switch-text-color;
                -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
                box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
              }
              &::-moz-range-thumb {
                background: $action-active-bg-primary;
                border: .2rem solid lighten($action-active-bg-primary, 5);
                color: $active-switch-text-color;
                -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
                box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
                &:active {
                  -webkit-box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
                  box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
                }
              }
              &.disabled {
                border-color: transparentize($gray-light, .8);
                .knob {
                  background: darken($gray-light, 25);
                  border-color: darken($gray-light, 20);
                  color: $gray-light;
                }
                &::after {
                  background: transparentize($gray-light, .9);
                }
              }
            }
          }
          #wrapper {
            background: $action-active-bg-primary;
            -webkit-box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.3);
            &:active {
              background: $action-active-bg-primary;
            }
            &.off {
              -webkit-box-shadow: 1px -4px 5px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 1px -4px 5px 0 rgba(0, 0, 0, 0.3);
            }
            .switch-face {
              color: $gray-light;
              background: transparent;
              &.active {
                color: $active-switch-text-color;
                background: rgba(0, 0, 0, 0.08);
              }
            }
          }
        }
      }
    }
    
    .ts-light-theme {
      dimmer-switch-widget {
        #switch {
          border-radius: .5em;
          border: .2rem solid rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
          background: lighten(map-get($colors, light-theme-bg), 100);
          #slider {
            .range {
              &::-webkit-slider-runnable-track {
                background: transparentize($gray-light, .9);
                opacity: .1rem;
                height: 100%;
              }
              &::-webkit-slider-thumb {
                @include light-theme-slider-thumb();
              }
              &::-moz-range-thumb {
                @include light-theme-slider-thumb();
              }
              &.disabled {
                border-color: transparentize($gray-light, .8);
                .knob {
                  background: darken($gray-light, 25);
                  border-color: darken($gray-light, 20);
                  color: $gray-light;
                }
                &::after {
                  background: transparentize($gray-light, .9);
                }
              }
            }
          }
          #wrapper {
            border-radius: .2em;
            border: .1rem solid rgba(0, 0, 0, 0.15);
            background: lighten(map-get($colors, light-theme-bg), 100);
            -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.3);
            &:active {
              background: lighten(map-get($colors, light-theme-bg), 100);
            }
            &.off {
              -webkit-box-shadow: 1px -4px 6px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 1px -4px 6px 0 rgba(0, 0, 0, 0.3);
            }
            .switch-face {
              color: lighten($gray-light, 45);
              background: transparent;
              
              &.active {
                color: $active-switch-text-color;
                background: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
      }
    }
