$active-switch-text-color:lighten($brand-primary, 15);
$height:20rem;
@mixin light-theme-slider-thumb() {
  background: lighten(map-get($colors, light-theme-bg), 30);
  border: .2rem solid lighten($gray-light, 35);
  color: $active-switch-text-color;
  -webkit-box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  -webkit-appearance: none;
  &::after {
    content: '=';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    color: $gray-light;
    background-color: red;
  }
  &:active,
  &:hover {
    border: .1rem solid transparentize(map-get($colors, primary), .6);
    -webkit-box-shadow: 1px 4px 5px 0 transparentize(map-get($colors, primary), .8);
    box-shadow: 1px 4px 5px 0 transparentize(map-get($colors, primary), .8);
  }
}

vertical-slider {
  slide-wrapper {
    position: relative;
    margin: .5rem;
    .label {
     // .label-text{
      text-align: center;
     transform: rotate(90deg);
	transform-origin: center center length;
  margin-top: 0rem;
  margin-left: 0rem;
  text-transform: uppercase;
  display: block;
  position: absolute;
  width:$height;
  height: auto;
  top:0%;
  left:-40%;
  background: rgba(150,0,0,0.4);
   //   }
    }
    // .label{
    //     position: relative;
    //     line-height:$height;
    //       vertical-align: middle;
    //       text-align: center;
    //       height: 2rem;
    //       width:$height;
    //     .lebel-text{
    //       -webkit-transform: rotate(-90deg);
    //       -moz-transform: rotate(-90deg);
    //       -o-transform: rotate(-90deg);
    //       -ms-transform: rotate(-90deg);
    //       transform: rotate(-90deg);
    //       left:.5rem;
    //       line-height:$height;
    //       vertical-align: middle;
    //       text-align: center;
    //       height: 2rem;
    //       width:$height;
    //       position: absolute;
    //     }
    //     }
    .slider-main {
      margin-right: auto;
      margin-left: 2rem;
      position: relative;
      display: flex;
      width: 1.6rem;
      .range-indicator {
        background: transparentize($active-switch-text-color, .5);
        height: 50%;
        width: 1.35rem;
        margin: 0rem;
        bottom: .2rem;
        left: -.65rem;
        box-sizing: border-box;
        position: absolute;
        border-radius: .3rem;
        -webkit-box-shadow: inset 1px -2px 2px 0 rgba(0, 0, 0, 0.3);
        box-shadow: inset 1px -2px 2px 0 rgba(0, 0, 0, 0.3);
      }
      input.range {
        background: transparent;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-appearance: none;
        width: $height;
        height: 1.6rem;
        bottom: -($height/2);
        left: -($height/2);
        display: inline-block;
        position: absolute;
        border-radius: .3rem;
        &::-webkit-slider-runnable-track {
          height: 100%;
          width: $height;
          -webkit-box-shadow: inset 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 0px 4px 0 rgba(0, 0, 0, 0.3);
          border-radius: .3rem;
          position: relative;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background: $action-active-bg-primary;
          border: .2rem solid lighten($action-active-bg-primary, 5);
          width: 2.4rem;
          height: 2rem;
          left: 0rem;
          top: -.2rem;
          position: relative;
          cursor: pointer;
          border-radius: .2rem;
          color: $active-switch-text-color;
          text-align: center;
          line-height: 3rem;
          -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
        }
        &::-moz-range-thumb {
          background: $action-active-bg-primary;
          border: .2rem solid lighten($action-active-bg-primary, 5);
          width: 2.4rem;
          height: 3rem;
          left: 0rem;
          top: -.2rem;
          cursor: pointer;
          border-radius: .2rem;
          //  position: absolute;
          color: $active-switch-text-color;
          text-align: center;
          line-height: 3rem;
          -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          &:active {
            -webkit-box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
          }
        }
        &.disabled {
          border-color: transparentize($gray-light, .8);
          .knob {
            background: darken($gray-light, 25);
            border-color: darken($gray-light, 20);
            color: $gray-light;
          }
          &::after {
            background: transparentize($gray-light, .9);
          }
        }
      }
    }
  }
}

.ts-dark-theme {
  vertical-slider {
    .slider-main {
      .range {
        &::-webkit-slider-runnable-track {
          background: transparentize(darken($action-active-bg-primary, 15), .4);
          border: .1rem solid $action-active-bg-primary;
        }
        &::-webkit-slider-thumb {
          background: $action-active-bg-primary;
          border: .2rem solid lighten($action-active-bg-primary, 5);
          color: $active-switch-text-color;
          -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
        }
        &::-moz-range-thumb {
          background: $action-active-bg-primary;
          border: .2rem solid lighten($action-active-bg-primary, 5);
          color: $active-switch-text-color;
          -webkit-box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.6);
          &:active {
            -webkit-box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.1);
          }
        }
        &.disabled {
          border-color: transparentize($gray-light, .8);
          .knob {
            background: darken($gray-light, 25);
            border-color: darken($gray-light, 20);
            color: $gray-light;
          }
          &::after {
            background: transparentize($gray-light, .9);
          }
        }
      }
    }
  }
}

.ts-light-theme {
  vertical-slider {
    .slider-main {
      .range {
        &::-webkit-slider-runnable-track {
          background: transparentize($gray-light, .9);
          opacity: .1rem;
          height: 100%;
        }
        &::-webkit-slider-thumb {
          @include light-theme-slider-thumb();
        }
        &::-moz-range-thumb {
          @include light-theme-slider-thumb();
        }
        &.disabled {
          border-color: transparentize($gray-light, .8);
          .knob {
            background: darken($gray-light, 25);
            border-color: darken($gray-light, 20);
            color: $gray-light;
          }
          &::after {
            background: transparentize($gray-light, .9);
          }
        }
      }
    }
  }
}
