<!--<page-root>
  <page-content>-->
      <div *ngIf="nodeData.controlType" [ngSwitch]="nodeData.controlType">
    <rgb-led-control *ngSwitchCase="'rgb-led'" [nodeData]="nodeData"></rgb-led-control>
    <rgb-led-control *ngSwitchCase="'rgbw-led'" [nodeData]="nodeData"></rgb-led-control>
    <rgb-led-control *ngSwitchCase="'rgbled'" [nodeData]="nodeData"></rgb-led-control>
    <rgb-led-control *ngSwitchCase="'rgb-led-light'" [nodeData]="nodeData"></rgb-led-control>
    <generic-control-widget *ngSwitchCase="'led-light-bulb'" [nodeData]="nodeData"></generic-control-widget>
    <generic-control-widget *ngSwitchCase="'light-bulb'" [nodeData]="nodeData"></generic-control-widget>
    <generic-control-widget *ngSwitchCase="'lightbulb'" [nodeData]="nodeData"></generic-control-widget>
    <wall-outlet-widget *ngSwitchCase="'outlet'" [nodeData]="nodeData"></wall-outlet-widget>
    <wall-outlet-widget *ngSwitchCase="'wall-outlet'" [nodeData]="nodeData"></wall-outlet-widget>
    <dimmer-switch-widget *ngSwitchCase="'dimmable-light'" [nodeData]="nodeData"></dimmer-switch-widget>
    <dimmer-switch-widget *ngSwitchCase="'dimmable'" [nodeData]="nodeData"></dimmer-switch-widget>
    <generic-control-widget *ngSwitchDefault [nodeData]="nodeData"></generic-control-widget>
</div>
  <!--</page-content>
</page-root>-->
