// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../styles/current-theme.scss';
ts-theme
// ,ts-theme.xs
// ,ts-theme.sm
// ,ts-theme.md
// ,ts-theme.lg
// ,ts-theme.xl
 {
  display: flex;
  flex-direction: row;
  ts-app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: row;
    // ion-menu {
    //  top:map-get($sizes , header-height);
    //  padding-bottom: map-get($sizes , header-height);
    //   background: map-get($colors, dark-theme-bg);
    //.menu-inner {
    // background: map-get($colors, dark-theme-bg);
    // ts-left-menu {
    // }
    ts-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      ts-header {
        position: relative;
        height: map-get($sizes, header-height);
        width: 100%;
        top: 0;
        left: 0;
        display: block;
      }
      ts-content {
        flex-grow: 1;
        display: block;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
      }
      ts-footer {
        display: block;
        position: relative;
      }
    }
  }
  #pages {
    position: relative;
    display: block;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &.ts-dark-theme {
    background: map-get($colors, dark-theme-bg);
    color: map-get($colors, dark-theme-fg);
  }
  &.ts-light-theme {
    background: map-get($colors, light-theme-bg);
    color: map-get($colors, light-theme-fg);
  }
}
