<div tsWorkflow class="workflow">
    <onboarding-device-search ></onboarding-device-search>
    <!--<onboarding-device-search class="workflow-step" id="device-search"></onboarding-device-search>
    <onboarding-device-search class="workflow-step" id="device-search"></onboarding-device-search>
    <onboarding-device-search class="workflow-step" id="device-search"></onboarding-device-search>
    <onboarding-search-result class="workflow-step" id="search-result"></onboarding-search-result>-->
</div> 