// $colors:(
//     background:#101c2a,
//     foreground:#ffffff,
//     primary:#3d8dd7,
//     secondary:#eeeeee,
// );
$colors: (
  primary:    #387ef5,
  primary-faded:    #0a2e57,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #101c2a,
  background:#101c2a,
  foreground:#ffffff,
  dark-theme-bg:#101c2a,
  dark-theme-fg:#ffffff,
  light-theme-bg:#eeeeee,
  light-theme-fg:#101c2a,
);
$sizes:(
    25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
    header-height:4rem,
    action-bar-height:4rem,
    tab-bar-height:4rem,
    footer-height:4rem,
    left-menu-width:20rem,
    left-menu-depth:1rem
);
$z-indexes:(
    left-menu:2000000
);

$layout_config:(
    show-action-bar-border:true,
    show-tab-bar-border:true,
    show-footer-border:true
);

$border-color-default: transparentize(map-get($colors, foreground), .85);
$border-color-primary: transparentize(map-get($colors, primary), .75);
$action-active-bg-primary: map-get($colors, primary-faded);

$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;